<html>
  <head><title>All Posts</title></head>
  <body>

    <h1>Posts</h1>
      <%= form_with model: Post.new do |f| %>
        <%= f.text_field :title %>
        <%= f.submit %>
      <% end %>

  </body>
</html>